@model IEnumerable<ShortUrlWebApp.Models.ShortUrl>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Original)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Short)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Counter)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@item.Original" target="_blank">
                @Html.DisplayFor(modelItem => item.Original)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Short)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Counter)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
